html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.top-nav {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.menu-item {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.menu-item:hover {
  color: #ffdd57;
  transform: scale(1.2);
}


:root {
  --fade-duration: 1.6s;
}

.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-snap-align: start;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  /*background: rgba(0,0,0,0.3);*/
  background: rgba(255,255,255,0.55);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 0 2px 8px rgba(0,0,0,0.7);
  padding: 1rem 2rem;
}
